@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Readex Pro', sans-serif;
    /* border: red 1px solid; */
}

html {
    scroll-behavior: smooth;
}

body {
    background: #26243b;
}

.navbar {
    position: fixed;
    display: flex;
    width: 100%;
    top: 0;
    text-align: center;
    background: rgba(218, 218, 218, 0.5);
    backdrop-filter: blur(10px);
    /* border: black 1px solid; */
    align-items: center;
    margin: auto;
}

.navbar .center,
.navbar .left {
    width: 33%;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
    padding: 0.5rem;
    /* background: blue; */
    /* border: black 1px solid; */
}

.right {
    display: flex;
    /* align-items: center; */
    margin: auto;
}

ul {
    list-style-type: none;
    display: flex;
    margin: auto 0;
}

ul.middle {
    list-style-type: disc;
    display: block;
    margin: 10px auto;
    width: fit-content;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 10px;
    text-align: center;
    /* justify-content: center; */
    /* align-items: center;  */
    background-color: #292C6D;
}

.contact-container * {
    padding: 10px 20px;
}

#credits {
    position: absolute;
    right: 0px;
}

#credits * {
    padding: 0;
}

/* .contact-container>*{
    padding: 5px 10px;
} */

.contact-container h2 {
    width: 20vw;
    padding: 5px 10px;
    margin: auto 0;
}

.right div {
    padding: 0.5rem;
}

a {
    text-decoration: none;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    color: burlywood;
}

a:hover {
    color: #ca970c;
}

#home {
    font-size: 24px;

    /* background: -webkit-linear-gradient(left,#05619b,purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.onescreen {
    width: 100%;
    height: 100vh;
    display: inline-block;
    /* border: red 1px solid; */
}

.top-view {
    /* background: linear-gradient(50deg, #4612aa, #590cca, #ad20bf, #d25ea3, #d783ad, #db95bb, #daa1c4); */
    background: linear-gradient(50deg, #4612aa, #590cca, #ad20bf, #d25ea3, #d783ad, #db95bb, #daa1c4);
    background-size: 600% 600%;
    background-position: 0% 0%;
    animation: background-animation 10s ease-in-out infinite;
}

.navbar a {
    color: white;
}

.about,
#projects {
    margin: 30px auto;
    width: 400px;
}

.about>*,
#projects p {
    padding: 15px;
}

#not-flex {
    display: block;
}

.prof-container {
    margin: 12vh 0 0 0;
    flex-wrap: wrap;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.distance-top {
    margin-top: 10vh;
}

.distance-bottom {
    margin-bottom: 10vh;
}

.top {
    width: 100%;
}

iframe {
    border: none;
}

h1 {
    font-size: 6rem;
    margin: 2vh 0 0 0;
}

h2 {
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 0.7);
}

#table-container img {
    /* all: unset; */
    /* max-width: 350px; */
    max-height: 27vh;
    /* border:white 2px solid; */
}

td>* {
    padding: 10px 0px;
}


@keyframes background-animation {
    0% {
        background-position: 0% 51%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 51%
    }

}

hr {
    width: 50%;
    margin: 10px auto;
    animation: linemove 10s ease-in-out infinite;
    /*add 'infinite' to loop*/
}

@keyframes linemove {
    from {
        width: 50%;
    }

    50% {
        width: 10%;
    }

    to {
        width: 50%;
    }
}

.prof-container img {
    max-width: 35vh;
    border-radius: 50%;
    border: rgba(216, 196, 216, 0.5) 5px solid;
    /* pointer-events: none; */
    box-shadow: 0px 0px 40px 2px lightgoldenrodyellow;
    /* in order: x offset, y offset, blur size, spread size, color */
    /* blur size and spread size are optional (they default to 0) */

    background-color: rgba(216, 196, 216, 0.5);

    /* below is to be used with img:hover effect! */
    /* transition: transform 250ms ease-in-out; */
}

.row>* {
    padding: 10px;
}

/* img:hover {
    transform: scale(1.1);
} */

#table-container {
    width: 100vw;
    height: inherit;
    margin: 0;
    display: flex;

}

#table-container>table {
    width: 50%;
    height: inherit;
    margin: 0;
    /* border: white 1px solid; */
    padding: 20px;
}

/* Use a media query to add a break point at 600px: */
@media screen and (max-width: 600px) {
    ul.middle {
        list-style-type: none;
        display: block;
        margin: 10px auto;
        width: fit-content;
    }

    .navbar {
        flex-wrap: wrap;
    }

    .about,
    #projects {
        margin: 30px auto;
        width: 100vw;
    }

    .about>*,
    #projects p {
        padding: 15px 0px;
    }



    .navbar .left,
    .navbar .right {
        width: 100%;
    }

    .navbar .center {
        display: none;
    }

    .right div {
        /* border: black 1px solid; */
        /* display: inline-block; */
        margin: auto;
        /* flex-wrap: wrap; */
        width: auto;
        padding: 2vw 4vh;
    }

    .prof-container {
        margin-top: 30vw;
    }

    h1,
    h2 {
        font-size: 8vw;
        padding: 10px;
    }

    .row {
        width: 100%;
    }

    iframe {
        width: 80vw;
        height: 50vh;
    }

    .projectscreen {
        margin-top: 50vh;
    }

    #credits {
        display: none;
    }

    .right {
        font-size: 0.8rem;
    }

    #table-container {
        flex-wrap: wrap;
    }

    #table-container>table {
        width: 100%;
    }

    #table-container img {
        max-height: 19vh;
    }

    #contact {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .distance-top {
        margin-top: 4vh;
    }
}